<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" class="tab">
      <ion-icon name="cash-outline"></ion-icon>
      <ion-label>Moeda</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="tab2">
      <ion-icon name="hourglass-outline"></ion-icon>
      <ion-label>Tento</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="tab3">
      <ion-icon name="dice-outline"></ion-icon>
      <ion-label>Dado</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
