<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Contador de Tento
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="back">

<ion-card class="ion-text-center">
  <ion-card-title>
Valendo: {{valendo}}
</ion-card-title>
</ion-card>

<ion-grid>
  <ion-row>
    <ion-col>  <ion-button (click)="botaoTruco1()">1</ion-button> </ion-col>
    <ion-col>  <ion-button (click)="botaoTruco3()">3</ion-button></ion-col>
    <ion-col>  <ion-button (click)="botaoTruco6()">6</ion-button></ion-col>
    <ion-col>  <ion-button (click)="botaoTruco9()">9</ion-button></ion-col>
    <ion-col>  <ion-button (click)="botaoTruco12()">12</ion-button></ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  <ion-row>
    <ion-col><ion-button (click)="botaoMais1()">+</ion-button></ion-col>
    <ion-col><ion-button (click)="botaoMais2()">+</ion-button></ion-col>
  </ion-row>
  <ion-row>
    <ion-col>{{pont1}}</ion-col>
    <ion-col>{{pont2}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col><ion-button (click)="botaoMenos1()">-</ion-button></ion-col>
    <ion-col><ion-button (click)="botaoMenos2()">-</ion-button></ion-col>
  </ion-row>
</ion-grid>

<ion-grid>
  Partidas
  <ion-row>
    <ion-col>Time 1: </ion-col>
    <ion-col>{{part1}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Time 2: </ion-col>
    <ion-col>{{part2}}</ion-col>
  </ion-row>
</ion-grid>

<ion-button expand="block" (click)="limpar()">Limpar</ion-button>


</ion-content>
