.container-coin{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  flex-flow: column;
}

img{
  height: 50%;
  border-radius: 50%;
  box-shadow: 0.5px 0.8px 15px #ffe140;
}

.btn{
  cursor: pointer;
}
