* {
    font-family: 'Merriweather', serif;
}

.barra{
  --background: #141414;
  --color: white;
}

.background{
    --background: url(https://thumbs.dreamstime.com/b/fundo-de-madeira-branco-da-textura-47079447.jpg) 0 0/100% 100% no-repeat;
}

.footer {
  position: fixed;
  bottom: 0;
}

ion-row {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100vw;
  margin-bottom: 20px;
  ion-item {
    border-radius: 5rem;
    border-style: none;
  }
}

.card{
  padding: 15px;
}

ion-card{
  display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    height: 5.6rem;
    margin-bottom: 15px;
}

ion-avatar{
  filter: brightness(0) invert(1);
}
